body{
    background-color: rgb(249, 234, 216);
}
.main{
    display: flex;
    flex-direction: row;
    margin-left: 310px;
    padding-left: 10px;
}
a{
    text-decoration: none;
    color: black;
}
.a{
    margin-left: 800px;
    cursor: pointer;
}
    
.b{
    margin-left:30px;
    cursor:pointer;
}
.c{
    margin-left: 30px;
    cursor:pointer; 
}
img{
    padding-left: 350px;
}