<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
    <div class="main">
       <div class="a"> <a href="index.html">Home</a></div>
        <div class="b"><a href="index2.html">About</a></div>
        <div class="c"><a href="index3.html">Resume</a></div>
    </div> 
    <h1>hello,I'm Baby</h1>
    <p>I am a computer science student in SITE.I have passion for creating beautiful web pages.</p> 
</body>
</html>